---
const AnimatedHero = (await import('./motion/AnimatedHero.tsx')).default;
---

<AnimatedHero client:load>
  <h1 class="biyu-hero-title">
    BIYU PROMOTIONS
  </h1>
  
  <p class="biyu-hero-subtitle">
    Fighting For Legacy, Driven by Culture
  </p>
</AnimatedHero>